<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="SP_Tenant_Name" value="dklabsgmf"/>
    <add key="SPApp_ClientId" value="105e5df2-a5b8-46ac-8fe1-73deff4ab397"/>
    <add key="SPApp_ClientSecret" value="+JOwIEqoRq84ASWRVJ4n+8wPVWHzDe6ZhHnqylS7iiQ="/>
    <add key="AzureWebJobsStorage" value="DefaultEndpointsProtocol=https;AccountName=dklabswebhookdemostorage;AccountKey=p79jzXA4RLjwq4lw01aSqeUn6f0JJdEBhHM7sSFxJfC/TDfjLuya50CMAvb5ioVi+4MXcGuNvouMes6rHjewvA==;EndpointSuffix=core.windows.net"/>
    <add key="AzureWebJobsDashboard" value="DefaultEndpointsProtocol=https;AccountName=dklabswebhookdemostorage;AccountKey=p79jzXA4RLjwq4lw01aSqeUn6f0JJdEBhHM7sSFxJfC/TDfjLuya50CMAvb5ioVi+4MXcGuNvouMes6rHjewvA==;EndpointSuffix=core.windows.net"/>
    <add key="WebhooksQueueName" value="dklabswebhookdemo-queue"/>
    <add key="LastChangeTokensTableName" value="dklabsWebhookDemoLastChangeTokens"/>
    <add key="HistoryListName" value="Webhook History"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>