<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://dklabs-webhookdemo.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/7302ee31-0750-4829-b587-68ca1d832ae0/resourceGroups/dklabs-WebhookDemo-RG/providers/Microsoft.Web/sites/dklabs-webhookdemo</ResourceId>
    <UserName>$dklabs-webhookdemo</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://dklabs-webhookdemo.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>